# Salin ke .env untuk override port host (rentang 15xxx–22xxx)
# cp .env.example .env

LHAQE_POSTGRES_PORT=15432
LHAQE_MINIO_API_PORT=19000
LHAQE_MINIO_CONSOLE_PORT=19001
LHAQE_HIVE_METASTORE_PORT=19083
LHAQE_ICEBERG_REST_PORT=18181
LHAQE_SPARK_MASTER_UI_PORT=18080
LHAQE_SPARK_MASTER_PORT=17077
LHAQE_AIRFLOW_WEB_PORT=18681
LHAQE_TRINO_PORT=18088
LHAQE_SUPERSET_PORT=18089
LHAQE_GRAFANA_PORT=13001
LHAQE_PROMETHEUS_PORT=19090
LHAQE_JUPYTER_PORT=18888

LHAQE_GRAFANA_PASSWORD=admin
LHAQE_SUPERSET_SECRET_KEY=lakehouse_superset_secret_change_me

# OFF | ON — default skenario AQE untuk DAG bronze_to_silver
SPARK_AQE_SCENARIO=OFF
